.alert-message {
	font-size: $textSizeNormal;
	font-weight: bold;
	max-width: $maxWidth;
	margin: 0 auto;

	&.hidden {
		display: none;
	}

	&.margin-top {
		margin: $margin 0 0;
	}

	&.margin-bottom {
		margin: 0 0 $margin;
	}

	.info,
	.alert,
	.danger {
		position: relative;
		border-radius: $borderRadius;
		padding: $padding;
		color: $text;
		display: flex;
		justify-content: flex-start;
		.icon {
			font-size: 14px;
			min-width: 16px;
			max-height: 16px;
			display: inline-block;
			text-align: center;
			border: 1px solid $text;
			border-radius: 9px;
			padding: 0px;
			margin: 0 8px 0 0;
			&.hidden {
				display: none;
			}
		}
		.text {
			margin: 0 14px 0 0;
		}
		button {
			font-size: 14px;
			min-width: 16px;
			max-height: 16px;
			display: inline-block;
			text-align: center;
			display: none;
			position: absolute;
			top: calc(#{$padding} *.7);
			right: calc(#{$padding} *.7);
			background: transparent;
			border: none;
			padding: 0 $paddingSmall;
			cursor: pointer;
			&:hover {
				font-weight: bold;
				background: transparent;
			}
		}
		&.closable {
			button {
				display: block;
				&:active {
					box-shadow: none;
				}
			}
		}
	}
	.info {
		color: darken($info, 40%);
		background: lighten($info, 10%);
		.icon {
			border: 1px solid darken($info, 40%);
		}
		&,
		button {
			color: darken($info, 40%);
		}
	}
	.alert {
		background: lighten($alert, 10%);
		.icon {
			border: 1px solid darken($alert, 40%);
		}
		&,
		button {
			color: darken($alert, 40%);
		}
	}
	.danger {
		background: lighten($highlight, 10%);
		.icon {
			border: 1px solid darken($highlight, 40%);
		}
		&,
		button {
			color: darken($highlight, 40%);
		}
	}
}
