text-input {
	button {
		margin: 1px 0 1px $marginSmall;
	}
}
.input-container {
	display: flex;
	justify-content: flex-start;
	.text-input {
		flex-grow: 1;
		width: 100%;
		box-sizing: border-box;
		font-size: 14px;
		padding: $padding;
		@extend %white-emboss-box;
	}
}
