@import "./lib/styles/colors.scss";
@import "./lib/styles/sizes.scss";
@import "./lib/styles/silent-classes.scss";
@import "./lib/styles/buttons.scss";

@import "./lib/components/components.scss";

@import "./App/LumenatorApp/LumenatorApp.scss";
@import "./App/LumenatorApp/ManualControl/ManualControl.scss";

body {
  margin: 0;
  background-color: $white;
  color: $text;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  &.noScroll {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

a {
  &,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: darken($grey, 40%);
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: darken($highlight, 30%);
    }
  }
}

h4 {
  margin: 0 0 $margin;
}

p {
  font-size: $textSizeNormal;
  color: $lightDark;
  line-height: $textLineHeightNormal;
}

main {
  margin: 120px 20px 20px;
}

section {
  display: block;
  position: relative;
  max-width: calc(#{$maxWidth} - (#{$margin} * 2));
  margin: 0 auto $margin;
  padding: $paddingLarge;
  border-radius: $borderRadius;
  background-color: $lightGrey;
}

.section-action {
  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding: 0 0 10px;
  > * {
    margin: 0 10px 0 0;
  }
}

.width-100 {
  width: 100% !important;
}

.no-margin {
  margin: 0 !important;
}

.margin {
  margin: $margin !important;
}

.margin-small {
  margin: $marginSmall !important;
}

.margin-top {
  margin-top: $margin !important;
}

.margin-bottom {
  margin-bottom: $margin !important;
}

.mt-large {
  margin-top: $marginLarge !important;
}

.ml-small {
  margin-left: $marginSmall !important;
}

.mb-small {
  margin-bottom: $marginSmall !important;
}

.flex-stretch {
  display: flex !important;
  justify-content: flex-start !important;
}

.flex-grow {
  flex-grow: 2 !important;
}

.grid-large {
  display: grid;
  grid-column-gap: $marginSmall;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

hr {
  margin: calc(#{$margin} * 2) 0 $margin;
  border: 0;
  box-shadow: 0px 0.5px 0px 0.5px rgba(255, 255, 255, 0.8),
    0px -0.5px 0px 0.5px rgba(0, 0, 0, 0.15);
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 0;
  margin: $baseSpacer 0 0 0;

  &.inline {
    margin: 0;
    flex-direction: row;
    > :not(label) {
      margin: 0;
    }
  }
  label {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
  }
  > :not(label) {
    display: block;
    margin: $marginSmall 0 0 0;
  }
  &.centered {
    align-items: center;
  }
  > .lum-ToggleSwitch {
    margin-top: 12px;
  }
  button {
    max-height: 36px;
  }
}
.helper-text {
  display: block;
  position: relative;
  color: $grey;
  font-size: 12px;
  font-style: italic;
  margin-top: $marginSmall;
}

.error-text {
  display: block;
  color: darken($alert, 30%);
  font-size: 14px;
  margin: 10px 0 0 0;
}

.action-section {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  max-width: calc(#{$maxWidth} - (#{$margin}));
  button {
    margin: 0 0 0 $marginSmall;
  }
}

.lum-messages {
  > :not(:last-child) {
    margin: 0 0 $marginSmall 0;
  }
}

table {
  border: 0;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 $margin;
  > tr {
    &.header-row {
      background: grey;
      color: white;
    }
    &.new-group {
      td {
        padding-top: $margin;
        border-top: 1px solid lighten(grey, 30%);
      }
    }
    &.first-row {
      td {
        padding: 20px 5px;
      }
    }
    th {
      text-align: left;
      padding: 5px;
    }
    td {
      padding: 0 5px 20px;
    }
  }
}
