$circleHeightRatio: .74;
$switchSpeed: 200ms;
toggle-switch {
	@extend %noTapHighlight;
}
.toggle-switch {
	position: relative;
	@extend %noTapHighlight;
	@extend %white-emboss-box;
	height: $itemHeight;
	width: calc(#{$itemHeight} * 1.6);
	border-radius: calc(#{$itemHeight} / 2) !important;
	padding: 0 4px;
	// @extend %emboss;
	cursor: pointer;
	.circle {
		position: absolute;
		top: calc((#{$itemHeight} - #{$circleSize}) / 2);
		display: inline-block;
		height: $circleSize;
		width: $circleSize;
		background-color: $white;
		border-radius: calc(#{$circleSize} / 2);
	}
	&.OFF {
		background: $grey;
		transition: background $switchSpeed ease-in-out;
		.circle {
			left: 4px;
			transition: left $switchSpeed ease-in-out;
			box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .25);
		}
	}
	&.ON {
		background: $highlight;
		transition: background $switchSpeed ease-in-out;
		.circle {
			left: 30px;
			transition: left $switchSpeed ease-in-out;
			box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, .25);
		}
	}
}
